<div class="row justify-content-center">
  <mat-toolbar class="header-toolbar">
    @if (getScreenWidth < MIN_WIDTH_THRES){
      <div class="col-auto">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    }
    <div class="col-auto app-title"><img class="headerLogo" src="assets/img/logo.png"></div>

    @if (getScreenWidth >= MIN_WIDTH_THRES){
      <div class="col-6 header-tab-group">
        <mat-tab-group [(selectedIndex)]="tabIndex">
          <mat-tab label="Scripts">
            <ng-template mat-tab-label>
              <div class="mainButton">
                @if(tabIndex === 0){ <img id="scriptsIcon" class="mainBtnIcon" src="assets/img/main/scriptsIcon.png"> }
                @else{ Scripts }
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Sprites">
            <ng-template mat-tab-label>
              <div class="mainButton">
                @if(tabIndex === 1){ <img id="spritesIcon" class="mainBtnIcon" src="assets/img/main/spritesIcon.png"> }
                @else{ Sprites }
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Fangames">
            <ng-template mat-tab-label>
              <div class="mainButton">
                @if(tabIndex === 2){ <img id="fangamesIcon" class="mainBtnIcon" src="assets/img/main/fangamesIcon.png"> }
                @else{ Fangames }
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    }
    </mat-toolbar>
</div>
<div class="row">
  <!--  
    @switch tabIndex {
      @case 0 {
        <app-scripts-tab></app-scripts-tab>   
      }
      @case 1 {
        <app-sprites-tab></app-sprites-tab>   
      }
      @case 2 {
        <app-fangames-tab></app-fangames-tab>     
      }
    }
  -->
</div>